---
import { Image } from 'astro:assets';
import H1 from '../components/h1.astro';
import InfoLayout from '../layouts/InfoLayout.astro';
import BeigeByKat from '../assets/portfolio/beigebykat.png';
import BlkOwned from '../assets/portfolio/blkowned.png';
import CitizensAndThieves from '../assets/portfolio/citizensandthieves.png';
import Elevate from '../assets/portfolio/Elevate.png';
import HendersonHomeImprovements from '../assets/portfolio/henderson.png';
import ImpactWebStudio from '../assets/portfolio/impactwebstudio.png';
import OakridgeRenovations from '../assets/portfolio/OakridgeRenovations.png';
import PremierRenovations from '../assets/portfolio/PremierRenovations.png';
import WorksiteLeads from '../assets/portfolio/worksiteleads.png';

const projects = [
	{
		title: 'Impact Web Studio',
		description:
			'A web agency focused on providing web solutions for service providers.',
		image: ImpactWebStudio,
		href: 'https://impactwebstudio.ca',
	},
	{
		title: 'Worksite Leads',
		description:
			'Digital web agency helping home service business get more lead, operate more efficiently & make more money. Full Website Designs. Lead Generation & Follow-up Automations.',
		image: WorksiteLeads,
		href: 'https://worksiteleads.com',
	},
	{
		title: 'Beige By Kat',
		description: 'Hair Studio Salon based in Toronto, Canada',
		image: BeigeByKat,
		href: 'https://beigebykat.com',
	},
	{
		title: 'Premier Renovations',
		description:
			'Trusted renovations with craftsmanship you can count on.Transform your space with our expert team. Get a Free Estimate',
		image: PremierRenovations,
		href: 'https://premier-renovations.worksiteleads.com/',
	},
	{
		title: 'Oakridge Renovations',
		description:
			'Experienced renovators delivering quality results, tailored to your vision. From concept to completion, we bring your dream home to life.',
		image: OakridgeRenovations,
		href: 'https://oakridge-renovations.worksiteleads.com/',
	},
	{
		title: 'Elevate',
		description: 'Transforming homes with purpose, precision, and personality.',
		image: Elevate,
		href: 'https://elevate.worksiteleads.com/',
	},
	{
		title: 'BLK OWNED',
		description:
			"BLK OWNED is dedicated to advocating, educating, and marketing for the success of Southwestern Ontario's vibrant Black Business community.",
		image: BlkOwned,
		href: 'https://blkowned.ca',
	},
	{
		title: 'Citizens & Thieves',
		description:
			'A Steal Masta game where strategy meets chaos in a battle of wits and luck.',
		image: CitizensAndThieves,
		href: 'https://citizensandthieves.com',
	},
	{
		title: 'Henderson Home Improvements',
		description:
			'General contractor offering painting, drywalling, flooring, and basement, bathrooms, and kitchen finishes in the GTA, Canada.',
		image: HendersonHomeImprovements,
		href: 'https://hendersonhomeimprovements.ca',
	},
];
---

<InfoLayout>
	<div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh">
		<H1> Projects </H1>

		<ul
			class="mt-4 sm:mt-12 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-16 sm:gap-8"
		>
			{
				projects.map((project) => (
					<li class="group">
						<a
							href={project.href}
							target="_blank"
						>
							<Image
								src={project.image}
								alt={project.title}
								class="aspect-[3/2] object-center object-contain rounded-lg shadow-lg mb-4 sm:mb-0 sm:mr-4 group-hover:scale-110 transition duration-300 ease-in-out"
							/>
							<div class="">
								<h2 class="text-base text-zinc-100">{project.title}</h2>
								<p class="text-sm text-zinc-400 text-balance">
									{project.description}
								</p>
							</div>
							<span class="text-sm text-blue-300">Visit Website</span>
						</a>
					</li>
				))
			}
		</ul>
	</div>
</InfoLayout>
